{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/user_search.css' %}"/>#}
{#    <script type="text/javascript" href="{% static 'js/user_search.js' %}"></script>#}
    <link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css'
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Search</title>
</head>
<body>

{% include "./navbar.html" %}

<br><br>
<div class="container">
    <div class="well span8 offset2">
        {% for user in users %}{% csrf_token %}
            <div class="row-fluid user-infos cyruxx">
                <div class="span10 offset1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">User information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-fluid">
                                <div class="span3">
                                    <img class="img-circle"
                                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                         alt="User Pic">
                                </div>
                                <div class="span6">
                                    <strong>{{ user.first_name }} {{ user.last_name }}</strong><br>
                                    <table class="table table-condensed table-responsive table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Username:</td>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td>Birthdat:</td>
                                            <td>{{ user.date_of_birthday | date:"Y-m-d" }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Followers:</td>
                                            <td>{{ user.followers|length }}</td>
                                        </tr>
                                        <tr>
                                            <td>Followings:</td>
                                            <td>{{ user.followings|length }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <form action="./follow_user" method="post">{% csrf_token %}
                            <div class="panel-footer">
                                <button name="user_id" value="{{ user.username }}" class="btn  btn-primary"
                                        type="button"
                                        data-toggle="tooltip"
                                        data-original-title="Send message to user"><i
                                        class="icon-envelope icon-white"></i>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>